# Site settings
title: Magneticode
email: info@magneticode.com
description: >-
  Magneticode - Your digital compass. Consulenza tecnologica, Cloud, DevOps
  e Data Management per la trasformazione digitale della tua azienda.
baseurl: ""
url: "https://magneticode.github.io"

# Social
linkedin_url: https://www.linkedin.com/company/magneticode
website_url: https://www.magneticode.com

# Build settings
plugins:
  - jekyll-feed

# Exclude from processing
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
  - LICENSE
